<div class="container clearfix" *ngIf='project'>
	
	<div class="image">
		<img src="{{url + 'getImage/' + project.image}}" *ngIf="project.image"  />
	</div>
	<div class="data">
		<h1 *ngIf='project'>{{project.name}}</h1>
		<h3>{{project.description}}</h3>
		<p>{{project.category}}</p>
		<p>{{project.langs}}</p>
		<p *ngIf="confirm == false">
			<a [routerLink]="['/editar/', project._id]" class="button-edit">Editar</a>
			<a (click)="setConfirm(true)" class="button-delete">Borrar</a>
		</p>
		<p *ngIf="confirm == true">
			<span class="confirm">¿Estas seguro de querer eliminar este Proyecto?</span><br/>
			<a (click)="setConfirm(false)" class="button-edit">Cancelar</a>
			<a (click)="deleteProject(project._id)" class="button-delete">Eliminar Definitivamente</a>
		</p>
	</div>
</div>
