<h2>Hoy es {{fecha | date:'fullDate'}}</h2>
{{'hola estoy usando pipes en angular, esto en mayusculas' | uppercase}}<br/>
{{'hola estoy usando pipes en angular, esto en minusculas' | lowercase}}
<br/>
<hr/>
{{ 4 | calculadora: 2}}
<hr/>
<h2>Pon tu número de usuario</h2>

<input type="text" [(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>

<div *ngIf="!user">
	<div><h4>Cargando...</h4></div>
</div>

<div *ngIf="user">
	<h2>{{user.first_name + ' ' +  user.last_name}}</h2>
	<img src="{{user.avatar}}" width="200px">
</div>
<hr/>
<h2>Crear usuario</h2>

<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">

	<p>
		<label for="name">Nombre</label><br/>
		<input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required/>
		<span *ngIf="name.touched && !name.valid">El nombre no es válido</span>
	</p>
	<p>
		<label for="job">Trabajo</label><br/>
		<input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required/>
		<span *ngIf="job.touched && !job.valid">El trabajo no es válido</span>
	</p>

	<input type="submit" value="Guardar" [disabled]="!newUser.form.valid"/>

	
</form>

<div *ngIf="usuario_guardado">
	<h6>El usuario se ha guardado correctamente</h6>
	<h3>Usuario: {{usuario_guardado.name}}</h3>
	<h4>Trabajo: {{usuario_guardado.job}}</h4>
	
</div>
