<h2>Pagina Principal</h2>

<div *ngIf="identificado; then siIdentificado else noIdentificado">
	
</div>

<ng-template #siIdentificado>
	<h3>Te has identificado correctamente</h3>
	<button (click)="unSetIdentificado()">Log out</button>
</ng-template>


<ng-template #noIdentificado>
	<p>No te has identificado, pulsa este botón para identificarte</p>
	<button (click)="setIdentificado()">Login</button>
</ng-template>