<h2>Contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
	<label for="nombre">Nombre</label> <br/>
	<input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required pattern="[a-zA-Z]+" />
	<span *ngIf="nombre.touched && !nombre.valid">El nombre es obligatorio y solo pueden ser letras</span>
	<br/>
	<label for="apellidos">Apellidos</label><br/>
	<input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos" required pattern="[a-zA-Z]+"/>
	<span *ngIf="apellidos.touched && !apellidos.valid">Los Apellidos son obligatorios y solo pueden ser letras</span>
	<br/>
	<label for="email">Email</label><br/>
	<input type="email" name="email" #email="ngModel" [(ngModel)]="usuario.email" required/>
	<span *ngIf="email.touched && !email.valid">Introduce un email valido</span>
	<br/>
	<label for="asunto">Asunto</label><br/>
	<input type="text" name="asunto"#asunto="ngModel" [(ngModel)]="usuario.asunto" required />
	<span *ngIf="asunto.touched && !asunto.valid">Debes indicar un asunto</span>
	<br/>
	<label for="mensaje">Mensaje</label><br/>
	<textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="usuario.mensaje" required pattern="[a-zA-Z]+"></textarea>
	<span *ngIf="mensaje.touched && !mensaje.valid">El mensaje está vacio</span>
	<br/>
	<hr/>
	<input type="submit" value="Enviar" [disabled]="!formContacto.form.valid" />




</form>
