<div class="container">
	<h2>Proyectos</h2>
	
	<ul>
		<li *ngFor="let project of projects" class="project">
			<a [routerLink]="['/proyecto/', project._id]">
				<div class="image">
					<img src="{{url + 'getImage/' + project.image}}" *ngIf="project.image"/>
				</div>
				<h3>{{project.name}}</h3>
				<p>{{project.year}}</p>
				<p>{{project.langs}}</p>
			</a>
	</li>	
	</ul>
</div>
