
Tamaño del Slider : <strong>{{anchura}}</strong>
<br/>
	<div class="slider">
	  <div><img src="/assets/img/s5.jpg" title="Cervèlo S5"></div>
	  <div><img src="/assets/img/sl6.jpg" title="Trek Madone SL6"></div>
	  <div><img src="/assets/img/sl7.jpg" title="Canyon Aeroroad SL7"></div>
	</div>

<button (click)="starEvent($event)">Ver Autor</button>
