body
{
	background-image: url("../img/fondo_morcuera.jpg");
	background-size: cover;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	opacity: 1;
}

#logo
{
	background: darkblue;
}

#menu
{
	background: darkblue;
}

#menu ul li:hover
{
	background: ghostwhite;
}

.button-more{
	background: darkblue;
}
.ui-accordion .ui-accordion-header{
	background: darkblue;
	color: goldenrod;
}