body
{
	background-image: url("../img/fondo_guadarrama.png");
	background-size: cover;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	opacity: 1;
}

#logo
{
	background: darkred;
}

#menu
{
	background: darkred;
}

#menu ul li:hover
{
	background: ghostwhite;
}

.button-more{
	background: darkred;
}

.ui-accordion .ui-accordion-header{
	background: darkred;
	color: goldenrod;
}