*{
	margin:  0px;
	padding: 0px;
	list-style: none;
}
.clearfix{
	float: none;
	clear: both;
}
body{
	background-image: url("../img/fondo.jpg");
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	opacity: 1;
}

#global
{
	width: 65%;
	margin: 0px auto;
	margin-top: 30px;
	background: white;
	opacity: 95%;
	padding: 25px;
	box-shadow: 0px 0px 2px #ccc;
}
#logo
{
	font-family: "Verdana", "Arial";
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 75px;
	opacity: 100%;
	color: goldenrod;
	text-align: center;
	width: 385px;
	height: 75px;
	margin-bottom: 10px;
	padding: 15px;
	float: left;
	
}
#menu{
	font-family: "Helvetica", "Arial";
	
	width: 100%;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#menu ul{
	line-height: 46px;
	list-style: none;

}

#menu li{
	height: 46px;
	display: inline-block;
	transition: all 300ms;

}

#menu a{
	display: block;
	color: goldenrod;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
}

#content{
	    width: 97%;
    	margin: 0px auto;
}
#posts{
	width: 60%;
	float: left;
	font-family: "Helvetica", "Arial";
	padding: 7px;
}

h2{
	font-family: "Helvetica", "Arial";
	font-size: 30px;
	color: #333;

}

.post .date{
	display: block;
	color: gray;
	font-style: italic;
	margin-top: 5px;
}

.post p{
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 20px;
	text-align: justify;
}
.button-more{
	font-size: 14px;
	text-align: center;
	padding: 15px;
	
	color: goldenrod;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
	width: 70px;
	
}

.button-more:hover{
	background: ghostwhite;
	color: black;

}
#sidebar{
	font-family: "Helvetica","Arial";
	width: 31%;
	float: right;
}

#sidebar h4{
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	line-height: 10px;
	color: #333;
	background: url("../img/lines.png") repeat-x;
}
#sidebar h4 span{
	background: white;
	padding: 5px;
}

#sidebar img{
	width: 100%;
}

#sidebar p{
	font-size: 15px;
	text-align: justify;
}

form{
	margin-left: 70px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
select{
padding: 5px;
border-radius: 2px;
border:  1px solid #ccc;
width: 80%;
margin-top: 5px;
margin-bottom: 10px;
box-shadow: 0px 0px 2px gray;
}

form input[type="submit"]{
	background: #eee;
	padding: 10px;
	border: 1px solid #333;
	cursor: pointer;
}

footer {
	font-family: "Helvetica", "Arial";
	color: white;
	height: 47px;
	background: rgba(51, 51, 0, 0.70);
	margin: 0px auto;
	width: 65%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
	line-height: 47px;
}

.bx-wrapper img{
    height: 400px;
    width: 50%;
    margin : 0 auto;
    align-content: center;
    opacity: 100%;
}

#selector_theme
{
	position: fixed;
	top: 40%;
	background: rgba(51, 51, 51, 0.5);
	width: 50px;
	height: 100px;
}

#to_black, 
#to_red,
#to_blue
{
	width: 25px;
	height: 25px;
	border: 1px solid white;
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

#to_black
{
	background: black;
}

#to_red
{
	background: darkred;
}

#to_blue
{
	background: darkblue;
}

.up{
	color: white;
	text-decoration: none;
	display: block;
	float: right;

}
#box{
	width: 60%;
	float: left;
	margin-top: 40px;
}

#acordeon{
	margin-top: 20px;
}
#clock
{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Helvetica', 'Arial';
	color:  #333;
	border: 5px dashed; #333;
	width: 50%;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
}

#form_contact
{
	width: 50%;
	margin-top: 15px;

}

#form_contact label
{
	display: block;
	width: 100%;
	font-family: "Helvetica", "Arial";
	margin-top: 5px;
}

.form-error{
	display: block;
    float: right;
    font-size: 11px;
    background: red;
    color: white;
    padding: 10px;
    width: 65%;
}