<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<article class="about">
	<h2>Sobre mi</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a velit aliquam, iaculis dui at, sagittis lorem. Praesent aliquet nibh mauris, in gravida libero tincidunt a. Donec nec dui in odio aliquam posuere. Aenean ante tellus, rhoncus ultricies odio quis, efficitur vestibulum elit. Ut eget diam eget dui ultricies efficitur. Pellentesque mattis consectetur ultrices. Pellentesque euismod, massa varius ultrices tincidunt, nibh odio rhoncus lorem, a maximus lorem lorem in justo. Maecenas eu imperdiet magna, sed elementum odio. Etiam volutpat sollicitudin erat, at tempor eros accumsan eget. Fusce pulvinar vulputate erat, in imperdiet ligula molestie ac. Cras risus odio, finibus ut ultrices elementum, tempor ut ex. Nulla ullamcorper vel elit a condimentum. Vivamus eu volutpat justo. In porttitor a orci eget tristique. Maecenas fermentum tincidunt lacus, sed volutpat quam.
	</p>
	
</article>
