<h2>{{titulo}}</h2>

<p>Añadir marca</p>
<p>
	<input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()"/>
	<button (click)="getMarca()">Mostar Marca</button>
	<button (click)="addMarca()">Añadir Marca</button>
</p>
<p>{{mi_marca}}</p>


<p>
	Compra las Zapatillas de las mejores marcas

	<!-- Esto nos hace un listado con las marcas que tenemos en la clase zapatilla -->
</p>
	<ul>
		<li *ngFor="let marca of marcas; let indice = index">{{indice + ' - '+  marca}}
		<button (click)="borrarMarca(indice)">Borrar</button>
		</li>
	</ul>

<div>
<h1>Mira alguna de nuestras ofertas</h1>	
<ul>
	<!-- Esto nos saca un listado con los datos del clase zapatilla que le marcamos -->
	<li *ngFor="let deportiva of zapatillas">{{deportiva.nombre}} -
		<strong 
			[class.altoPrecio] ="deportiva.precio >=120"
			[ngClass]="{
				'fondoNegro': deportiva.precio >= 150,
				'subrayado': deportiva.marca == 'Adidas'

			}">

			{{deportiva.precio}} €
		</strong>

	<!-- condicionantes que solo se muestran si alguno de los elementos cumplen con ello -->
		<span *ngIf="deportiva.precio <=100" 
		[ngStyle]="{'color': 'white',
					'background-color' : 'green'}"

					>¡¡OUTLET!!
		</span>
		<span *ngIf="deportiva.stock == false"
		[ngStyle]="{'color': 'yellow',
					'background-color' : 'red'
					}"
					>¡¡AGOTADO!!
		</span>
	</li>
	
</ul>
</div>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
	<li *ngSwitchCase="'amarillo'">
		EL color predominante es el <span style="background:yellow; color: black;">Amarillo</span>.
	</li>
	<li *ngSwitchCase="'rojo'">
		EL color predominante es el <span style="background:red; color: white;">Rojo</span>.
	</li>
	<li *ngSwitchCase="'negro'">
		EL color predominante es el <span style="background:black; color: white;">Negro</span>.
	</li>
	<li *ngSwitchCase="'violeta'">
		EL color predominante es el <span style="background:purple; color: white;">Violeta</span>.
	</li>
</ul>
