<div [ngStyle]="{
    
              'background': config.fondo,
              'padding': '20px',
              'border': '5px solid black',
              'border-color': config.color
              }">
  <h1>
    Bienvenido al {{ title }}
  </h1>

  <p>{{descripcion}}</p>

  <nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a> &nbsp;
    <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>&nbsp;
    <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuegos</a>&nbsp;
    <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>&nbsp;
    <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Peticiones Externas</a>&nbsp;
    <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>&nbsp;
  </nav>

  <hr/>
  <hr/>

  <!--
  <button (click)="mostrar_videojuegos=!mostrar_videojuegos" [ngStyle]="{'background': config.boton}">Mostrar/Ocultar</button>
 

  <videojuego *ngIf="mostrar_videojuegos"></videojuego>
  <zapatillas></zapatillas>
  <cursos></cursos>
  -->
  <!-- <zapatillas></zapatillas> -->

  <router-outlet></router-outlet> <!-- esta etiqueta carga el componente que indiquemos en la barra del navegador -->
</div>