<div class="container">
	<h1>Contacto</h1>
	<hr/>
	<br/>
	<div id="contacto" >
		<h4 appResaltado #texto>Puedes contactar conmigo a través de la siguiente dirección de email.</h4>
		<br/>
		<p>
			Escribe a: <br/>
			<a href="mailto:ortocadp@gmail.com">ortocadp@gmail.com</a>
		</p>
	</div>
	<!--
	<br/>
	Cambiar tamaño del Slider
	
	<input type="number" [(ngModel)]="widthSlider" /><br/>
	<button (click)="cargarSlider()" class="buttonSlider">Cargar Slider</button>
	<button (click)="resetSlider()" class="buttonSlider">Reset Slider</button><br/>
	<div *ngIf="anchuraToSlider">
		<br/>
		<slider [anchura]="anchuraToSlider" (getAutor)="catchAutor($event)"></slider>
		<div>
		<p>Autor: {{autor.nombre}}</p>
		<p>WebSite: {{autor.website}}</p>
		<p>Instagram: <a href="http://instagram.com/gobuub82" target="_blank">{{autor.instagram}}</a></p> 
		</div>
	</div>
	-->
</div>