
/* import fonts */
@font-face{
	font-family: "yanone";
	src: url("fonts/yanone.ttf");
}
@font-face{
	font-family: "finger";
	src: url("fonts/finger.ttf");
}
@font-face{
	font-family: "titilium";
	src: url("fonts/titilium.ttf");
}

/* General */

*{
	margin : 0px;
	padding: 0px;
}

body{

	font-family: "yanone", Arial, Helvetica ;
	font-size: 20px;
	background: url('../img/pattern.png');
	background-attachment: fixed;
	
}

.clearfix{
	float: none;
	clear: both;
	
}
/* Header */

header{
	display: inline-block;
	width: 100%;
	height: 90px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    text-transform: uppercase;
    z-index: 1;
}

header ul {
	display: block;
	width: 45%;
	height: auto;
	text-align: center;
	margin: 0px auto;
	margin-top: -3px;

}

header ul li{
	display: inline-block;
	width: auto;
	margin:  0px auto;
	text-align: center;
	line-height: 90px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color: darkgoldenrod;
	transition: all 300ms;

}

header a:hover, .actived{
	background: whitesmoke;
	


}

/* Logo */
#logo{
	font-family: 'finger';
	font-size: 30px;
}

#logo a{
	transition: color 500ms, transform 500ms;
}

header #logo a:hover{
	background: transparent;
	color: rebeccapurple;
	transform: scale(1.50,1.50);
}

/* Content */

#content{
	min-height: 920px;
	overflow-y: auto;
	height: auto;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	padding-top: 120px;
}

/* Footer*/

footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0, 0, 0, 0.5);
}

/* About */

#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

#title h1{
	font-family: "finger";
	font-size: 50px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px ;
}

#title h2{
	font-size: 25px;
	color:  gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about {
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

.about h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.about p{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}

/* Sección con Formulario */

.container{
	padding: 50px;
	padding-top: 10px;
}

.container .image{
	float: left;
	width: 47%;
}

.container .image img{
	width: 100%;
}

.container .data{
	float: left;
	width: 49%;
	margin-left: 20px;
}
.container h2{
	border-bottom: 1px solid #ccc;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

form{
	width: 80%;
}

form label{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="number"],
form input[type="year"],
form textarea{
	width: 50%;
	padding: 5px;
}

form button,
form input[type="submit"], 
.button-edit, 
.button-delete{
	display: block;
	font-size: 17px;
	padding: 10px;
	margin-top: 15px;
	color: darkgoldenrod;
	background: rgba(0, 0, 0, 0.8);
	border: 1px solid darkgoldenrod;
	cursor: pointer;
}

.button-edit, 
.button-delete{
	width: 50%;
	text-align: center;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

.button-edit{
	background: forestgreen;
	font-weight: bold;
	border: 3px solid darkgoldenrod;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

.button-delete{
	background: rebeccapurple;
	font-weight: bold;
	border: 3px solid darkgoldenrod;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
}

form button:hover,
form input:hover[type="submit"]{
	background: rgba(0, 0, 0, 0.6);
	transform: scale(1.10,1.10);
	border: 1px solid darkgoldenrod;	
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 15px;
	padding: 3px;
	margin-left: 5px;
	background: rgba(0, 0, 0, 0.8);
	color: darkgoldenrod;
}

.message{
	width: 50%;
	padding: 5px;
	border: 1px solid #eee;
}

.success{
	background: rgba(0, 0, 0, 0.8);
	color: darkgoldenrod;
}

.message a{
	color: ghostwhite;
}

.failed{
	background: rebeccapurple;
	color: darkgoldenrod;
}

/* Pagina Proyectos */

.project{
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.project .image{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.project img{
	width: 100%;
}

.project a{
	text-decoration: none;
	color: black;
}

.confirm {
	display: block;
	font-weight: bold;
	margin-top: 20px;

}

.buttonSlider {
	padding: 10px;
	margin: 10px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 5px 5px black;
}

