.altoPrecio{
	font-size: 18px;
	border-radius: 0 15px 0 15px;
	padding: 3px;
}

.fondoNegro{
	color:  ghostwhite;
	background: black;
}

.subrayado{
	text-decoration: underline;
}

.active{
	border: 3px dotted red;
}